<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="normal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bibel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="secondary">
      Dein Aufenthaltort in der Bibel
    </ion-card-header>
    <ion-card-content>
      <br>Neues, Lukas 4
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="secondary">
      Inhalt
    </ion-card-header>
    <ion-card-content>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>