<ion-header>
  <ion-toolbar color="warning">
    <ion-title>ERROR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="danger">MOMENTAN IST SCHEINBAR DER SERVER OFFLINE.</ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-content>
      BITTE VERSUCHEN SIE ES SPÄTER ERNEUT.
    </ion-card-content>
    <ion-card-content>
      WENN ES NICHT HILFT, KÖNNEN SIE SICH AUCH AN DEN SUPPORT WENDEN:
    </ion-card-content>
    <ion-card-content>
      support@emmaus-app.de
    </ion-card-content>
  </ion-card>
</ion-content>