<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button menu="normal"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Motto of the day
      </ion-card-subtitle>
      <ion-card-title>Der Baum fällt nicht um!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        by Goethe
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Calender
      </ion-card-subtitle>
      <ion-card-title>Today</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-title>
        2020/05/12 20:00 Tagesschau
      </ion-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Quiz
      </ion-card-subtitle>
      <ion-card-title>
        new tasks 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      3 new tasks
    </ion-card-content>
  </ion-card>
</ion-content>